.add{
    background-image: url(../images/Benefits-bg.webp);
    height: 700px;
    background-size: cover;
    background-position: center;
}
.cont-cent{
    background-color: #f4f4f4;
    
    width: 65%;
    border-radius: 12px;
}
#buton-red{
    background-color: #B60C2D;
    font-size: 1.4em;
}
.title{
    font-size: 3em;
}
.text{
   
    width: 75%;
}