.banner{
    color:white;
    background-image: url(../images/banner-bg.webp);
    height: 85vh;
    min-height: 700px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.formulario{
    background-color: #EAEAEA;
}
.negrita{
    font-weight: bold;
    text-decoration: underline;
}
#boton {
background-color: #DE2340;
}
