.the-floor{
    background-color: #000000;
}
.cont-red{
background-color: #DE2340;
border-radius: 15px;
}
#buton-black{
    background-color: #000000;
    border: #000000;
    font-size: 1.3em;
    padding: 0.5em 2em;
    border-radius: 20px;
}
#buton-black:hover{ animation: zoom 1s infinite; }
.tittle-the-floor{
color: white;
width:80% ;
}
.img-the-floor{
    max-width: 100%;
    height: auto;
}
.the-floor-text{
    color: white;
}
.maxw{
    max-width: 170px;
}

